<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, rows: 10 %>
  </div>

  <fieldset class="sections" data-controller="nested-form">
    <legend>Sections</legend>

    <div data-nested-form-target="container">
      <%= form.fields_for :sections do |sf| %>
        <div class="nested-fields">
          <%= sf.hidden_field :id %>
          <div class="field">
            <%= sf.label :heading %>
            <%= sf.text_field :heading %>
          </div>
          <div class="field">
            <%= sf.label :content %>
            <%= sf.text_area :content, rows: 4 %>
          </div>
          <%= sf.hidden_field :_destroy %>
          <button type="button" data-action="click->nested-form#remove">Remove Section</button>
        </div>
      <% end %>
    </div>

    <div data-nested-form-target="template" style="display:none">
      <%= form.fields_for :sections, Section.new, child_index: "new_section" do |sf| %>
        <div class="nested-fields">
          <div class="field">
            <%= sf.label :heading %>
            <%= sf.text_field :heading %>
          </div>
          <div class="field">
            <%= sf.label :content %>
            <%= sf.text_area :content, rows: 4 %>
          </div>
          <button type="button" data-action="click->nested-form#remove">Remove Section</button>
        </div>
      <% end %>
    </div>

    <button type="button" data-action="click->nested-form#add">Add Section</button>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
