<h1>Edit Document</h1>

<%= form_with model: @document, local: true, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <p>
    <strong>Current file:</strong>
    <% if @document.url %>
      <%= link_to(@document.original_filename || @document.file, @document.url, target: '_blank') %>
    <% else %>
      No file
    <% end %>
  </p>

  <div class="field">
    <%= f.label :file, 'Replace file (optional)' %>
    <%= f.file_field :file %>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<p><%= link_to 'Back', documents_path %></p>
